*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Josefin Sans', sans-serif;
	background-color: #FAFAD2;
}

header{
	display: flex;
	width: 90%;
	height: 15vh;
	margin: auto;
	align-items: center;
}

.logo-container, 
.nav-links,
.cart {
	display: flex;
}

.logo-container{
	flex: 1;
	height: 100px;
}

.logo{
	font-weight: 200;
	margin: 5px;
}

nav{
	flex: 2;
} 

.nav-links{
	justify-content: space-around;
	list-style: none;
}

.nav-link{
	color: #6f6f89;
	font-size: 18px;
	text-decoration: none;
}

.cart{
	flex: 1;
	justify-content: flex-end;
}

.cart img{
	cursor: pointer;
}

.cart img:hover,
.nav-link:hover{
	opacity: 0.5;
}

.contents{
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 80vh;
	align-items: center;
}

.intro{
	flex: 1;
}

.text h1{
	font-size: 44px;
	font-weight: bold;
	background: linear-gradient(to right, #B0C4DE, #6f6f89);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text p{
	margin-top: 5px;
	font-size: 20px;
	color: #585772;
	font-weight: bold;
}

.buttons{
	padding: 20px 0px 0px 0px;
}

.details,
.add{
	width: 120px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
}

.details{
	border: 2px solid #B0C4DE;
	background: transparent;
	color: #B0C4DE;
}

.details:hover{
	background: #B0C4DE;
	border: none;
	color: white;
}

.add{
	background: #B0C4DE;
	border: none;
	color: white;
	margin: 30px 0px 0px 30px;
}

.add:hover{
	border: 2px solid #B0C4DE;
	background: transparent;
	color: #B0C4DE;
}

.cover{
	flex: 1;
	display: flex;
	justify-content: center;
	height: 60vh;
}

.cover img{
	height: 100%;
	filter: drop-shadow(0px 6px 4px black);
	animation: drop 3s ease;
}

@keyframes drop {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@media screen and (max-width: 1024px){
	nav{
		flex: 4;
	}

	.cover{
		align-items: center;
	}

	.cover img{
		height: 70%;
	}
}

@media screen and (max-width: 770px){
	.contents{
		flex-direction: column-reverse;
		height: 60vh;
	}

	.nav-links{
		flex-direction: column;
		position: absolute;
		height: 17vh;
		top: 2vh;
		text-align: center;
		left: 23vh;
	}


	.text p{
		font-size: 15px;
	}

	.intro{
		margin-top: 5vh;
		text-align: center;
	}

	.cover img{
		margin-top: 20vh;
		height: 50%;
	}
}